@use "variables";

.graduate {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;

  .graduate__image {
    width: 1.75rem;
    margin-right: variables.$spacer-400;
  }

  .graduate__name-wrapper {
    line-height: normal;
    .name {
      font-size: variables.$fs-300;
      font-weight: variables.$fw-400;
      margin: 0;
    }
    .verified {
      font-size: variables.$fs-200;
      font-weight: variables.$fw-200;
      color: variables.$clr-neutral-200;
      margin: 0;
    }
  }
}

.quote-highlight {
  position: relative;
  font-size: variables.$fs-500;
  font-weight: variables.$fw-700;
  z-index: 1;
}

.quote-main {
  position: relative;
  font-size: variables.$fs-300;
  color: variables.$clr-neutral-200;
  z-index: 1;
}

.quote1 {
  color: white;
  position: relative;
  &::after {
    content: url("../images/bg-pattern-quotation.svg");
    position: absolute;
    right: variables.$spacer-800;
    top: 0;
  }
  background-color: variables.$clr-primary-600;
}
