$clr-neutral-100: #ecf2f8;
$clr-neutral-200: #cfcfcf;
$clr-neutral-400: #48556a;
$clr-neutral-800: #19202d;
$clr-primary-400: #a775f1;
$clr-primary-600: #733fc8;

$spacer-400: 1rem;
$spacer-600: 1.625rem;
$spacer-700: 2rem;
$spacer-800: 4.125rem;

$fs-200: 0.6875rem;
$fs-300: 0.8125rem;
$fs-400: 1rem;
$fs-500: 1.25rem;

$fw-200: 200;
$fw-400: 400;
$fw-700: 700;
