@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

body {
  background-color: #ecf2f8;
  font-family: "Barlow Semi Condensed", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

main {
  margin: auto;
  max-width: clamp(310px, 0.5rem + 80vw, 70rem);
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(4, 1fr);
  gap: 1rem;
}
main .quote1 {
  grid-area: 1/1/span 1/span 2;
}
main .quote2 {
  grid-area: 1/3/span 1/span 1;
}
main .quote3 {
  grid-area: 2/1/span 1/span 1;
}
main .quote4 {
  grid-area: 2/2/span 1/span 2;
}
main .quote5 {
  grid-area: 1/4/span 2/span 1;
}

@media screen and (max-width: 1140px) {
  main {
    margin-top: 4.125rem;
    grid-template: repeat(4, 1fr)/repeat(2, 1fr);
  }
  main .quote1 {
    grid-area: 1/1/span 2/span 1;
  }
  main .quote2 {
    grid-area: 1/2/span 1/span 1;
  }
  main .quote3 {
    grid-area: 2/2/span 1/span 1;
  }
  main .quote4 {
    grid-area: 3/1/span 2/span 1;
  }
  main .quote5 {
    grid-area: 3/2/span 2/span 1;
  }
}
@media screen and (max-width: 620px) {
  main {
    display: flex;
    flex-direction: column;
  }
}
.flow > * + * {
  margin-bottom: 1rem;
}

.border-radius {
  border-radius: 8px;
}

.circle {
  border-radius: 50%;
}

.padding {
  padding: 1.625rem 2rem;
}

.graduate {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
}
.graduate .graduate__image {
  width: 1.75rem;
  margin-right: 1rem;
}
.graduate .graduate__name-wrapper {
  line-height: normal;
}
.graduate .graduate__name-wrapper .name {
  font-size: 0.8125rem;
  font-weight: 400;
  margin: 0;
}
.graduate .graduate__name-wrapper .verified {
  font-size: 0.6875rem;
  font-weight: 200;
  color: #cfcfcf;
  margin: 0;
}

.quote-highlight {
  position: relative;
  font-size: 1.25rem;
  font-weight: 700;
  z-index: 1;
}

.quote-main {
  position: relative;
  font-size: 0.8125rem;
  color: #cfcfcf;
  z-index: 1;
}

.quote1 {
  color: white;
  position: relative;
  background-color: #733fc8;
}
.quote1::after {
  content: url("../images/bg-pattern-quotation.svg");
  position: absolute;
  right: 4.125rem;
  top: 0;
}

.quote2 {
  color: white;
  background-color: #48556a;
}

.quote3,
.quote5 {
  color: #48556a;
  background-color: white;
}

.quote4 {
  color: white;
  background-color: #19202d;
}

.attribution {
  font-size: 0.75rem;
  text-align: center;
  padding: 1rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}/*# sourceMappingURL=style.css.map */